[Service_{{ component }}_{{ subcomponent }}]
type=service
router=readconnroute
servers=server-{{ component }}_{{ subcomponent }}
filters=mask-{{ component }}_{{ subcomponent }} | querylogger
user=maxscale_user
password=Maxscale@123

[Listener_{{ component }}_{{ subcomponent }}]
type=listener
service=Service_{{ component }}_{{ subcomponent }}
protocol=MySQLClient
address=0.0.0.0
port={{ port }}

[server-{{ component }}_{{ subcomponent }}]
type=server
address={{ ip_address }}
port=3306
protocol=MySQLBackend

[mask-{{ component }}_{{ subcomponent }}]
type=filter
module=masking
rules=/usr/local/maxscale/maskingrules_{{ component }}_{{ subcomponent }}.txt
warn_type_mismatch=always
