[maxscale]
threads=auto
log_info=false

# Monitor for the servers
[TheMonitor]
type=monitor
module=mariadbmon
servers={{ servers_csv }}
user=orch_user
password=password@123
monitor_interval=1000
enforce_read_only_slaves=true

[querylogger]
type=filter
module=qlafilter
log_type=unified
log_data=date, user, reply_time, service, query
filebase=/data/maxscale/query.logs
flush=true
exclude=show|set
options=ignorecase
append=true
